    <footer class="main-footer">
        <div class="footer-left">
            Copyright © 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
        </div>
        <div class="footer-right">
            v2.0.0
        </div>
    </footer>

    <script src="{{ asset('dist/modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('dist/modules/popper/dist/popper.js') }}"></script>
    <script src="{{ asset('dist/modules/tooltip/dist/tooltip.js') }}"></script>
    <script src="{{ asset('dist/modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ asset('dist/modules/nicescroll/dist/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('dist/modules/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('dist/js/stisla.js') }}"></script>

    <script src="{{ asset('dist/js/scripts.js') }}"></script>
    <script src="{{ asset('dist/js/custom.js') }}"></script>
    <script src="{{ asset('dist/modules/select2/dist/js/select2.full.js') }}"></script>
    <script src="{{ asset('dist/modules/selectric/public/jquery.selectric.min.js') }}"></script>

    <script src="{{ asset('dist/js/page/forms-advanced-forms.js') }}"></script>
    <script src="{{ asset('dist/modules/summernote/dist/summernote-bs4.js') }}"></script>

    <script src="{{ asset('dist/modules/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ asset('dist/modules/codemirror/mode/javascript/javascript.js') }}"></script>

    <script src="{{ asset('dist/modules/bootstrap-social/node_modules/bootstrap/js/transition.js') }}"></script>
    <script src="{{ asset('dist/modules/bootstrap-social/node_modules/bootstrap/js/alert.js') }}"></script>
    <script src="{{ asset('dist/modules/bootstrap-social/node_modules/bootstrap/js/collapse.js') }}"></script>
    <script src="{{ asset('dist/modules/bootstrap-social/node_modules/bootstrap/js/dropdown.js') }}"></script>
    <script src="{{ asset('dist/modules/bootstrap-social/node_modules/bootstrap/js/modal.js') }}"></script>
    <script src="{{ asset('dist/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.js') }}"></script>

    <script src="{{ asset('/js/alert.js') }}"></script>
    <script src="{{ asset('/js/tkeskic.js') }}"></script>
    <script src="{{ asset('dist/modules/sweetalert/dist/sweetalert.min.js') }}"></script>

