{% extends 'base.html.twig' %}

{% block content %}
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Blog posts</h1>
                </div>
                <div class="section-body">
                    {% for post in posts %}
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ post.title }}</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    {{ post.text }}
                                </p>
                                <p>{{ post.datePublished|date("m/d/Y")}}</p>
                                <p>{{ 'Created by ' ~ post.user.displayName }}</p>
                            </div>
                            <div class="card-footer bg-whitesmoke">
                                <a class="btn btn-outline-info" href="{{ '/posts/' ~ post.slug }}" role="button">Details</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if post.visible %}
                                        <a class="btn btn-warning" href="{{ '/disable-post/' ~ post.id }}" role="button">Disable post</a>
                                    {% else %}
                                        <a class="btn btn-success" href="{{ '/enable-post/' ~ post.id }}" role="button">Enable post</a>
                                    {% endif %}

                                    <a class="btn btn-danger" href="{{ '/delete-post/' ~ post.id }}" role="button">Delete post</a>

                                    <a class="btn btn-primary" href="{{ '/update-post/' ~ post.id }}" role="button">Update post</a>

                                    <p>{{ 'View count: ' ~ post.counter }}</p>

                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="nav-item">
                    {{ knp_pagination_render(posts) }}
                </div>

            </section>
        </div>
{% endblock %}