{% extends 'base.html.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="main-content mx-auto">
        <section class="section">

            <div class="col-12 col-sm-12 col-lg-12">
                <div class="card profile-widget">
                    <div class="profile-widget-header">
                        <img alt="image" src="{{ asset('dist/img/avatar/avatar-1.png') }}" class="rounded-circle profile-widget-picture">
                        <div class="profile-widget-items">
                            <div class="profile-widget-item">
                                <div class="profile-widget-item-label">Posts</div>
                                <div class="profile-widget-item-value">{{ numberOfPosts }}</div>
                            </div>
                            <div class="profile-widget-item">
                                <div class="profile-widget-item-label">Followers</div>
                                <div class="profile-widget-item-value"><a href="#" onclick="showFollowersDialog('Followers');">{{ numberOfFollowers }}</a></div>
                            </div>
                            <div class="profile-widget-item">
                                <div class="profile-widget-item-label">Following</div>
                                <div class="profile-widget-item-value"><a href="#" onclick="showFollowersDialog('Following');">{{ numberOfFollowings }}</a></div>
                            </div>
                            {% if app.user.id != user.id %}
                                <div class="profile-widget-item">
                                    <a href="#" class="btn btn-lg btn-primary mt-1 follow-btn" data-follow-action="follow({{ app.user.id }}, {{ user.id }})" data-unfollow-action="unfollow({{ app.user.id }}, {{ user.id }})">Follow</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="profile-widget-description pb-0">
                        <div class="profile-widget-name">{{ user.displayName }}<div class="text-muted d-inline font-weight-normal"><div class="slash"></div> Web Developer</div></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</p>
                    </div>
                    <div class="card-footer text-center pt-0">
                        <div class="font-weight-bold mb-2 text-small">Follow {{ user.displayName }} On</div>
                        <a href="#" class="btn btn-social-icon mr-1 btn-facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="btn btn-social-icon mr-1 btn-twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-social-icon mr-1 btn-github">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#" class="btn btn-social-icon mr-1 btn-instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                        <div class="col-12 col-md-4 col-lg-4">
                            <article class="article article-style-c">
                                <div class="article-header">
                                        <div class="article-image" data-background="{{ asset('dist/img/news/img01.jpg') }}"></div>
                                </div>
                                <div class="article-details">
                                    {% set difference = date().diff(date(post.datePublished)) %}
                                    {% set leftDays = difference.days %}
                                    {% if leftDays == 1 %}
                                        <div class="article-category"><a href="#">News</a> <div class="bullet"></div> <a href="#">{{ leftDays }}day</a></div>
                                    {% else %}
                                        <div class="article-category"><a href="#">News</a> <div class="bullet"></div> <a href="#">{{ leftDays }}days</a></div>
                                    {% endif %}
                                    <div class="article-title">
                                        <h2><a href="/posts/{{ post.slug }}">{{ post.title }}</a></h2>
                                    </div>
                                    <p></p>
                                    <div class="article-user">
                                        <img alt="image" src="{{ asset('dist/img/avatar/avatar-1.png') }}">
                                        <div class="article-user-details">
                                            <div class="user-detail-name">
                                                <a href="#">{{ post.user.displayName }}</a>
                                            </div>
                                            <div class="text-job">WEB DEVELOPER</div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    </div>
{% endblock %}